.companyName {
  font-family: 'Pacifico', cursive;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.mr-auto {
  display: flex;

}
